# Ambientes Virtuais
venv/
.venv/
env/

# Banco de Dados (Opcional: ignore se não quiser subir seus dados reais)
*.db
*.sqlite3

# Cache do Python
__pycache__/
*.pyc

# Configurações de IDE
.vscode/
.idea/